<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/api-web-interface/style.css">
	</head>
	<p class="name-db">Selected database is <span><%= name %></span></p>
	<%- body %>
	<p>
		<a class="logout" href="/logout">Logout</a>
	</p>
</html>
